<div class="brewMap">
  <div class="map">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1E6x1Dagt6pIMuxneEINkxGuYs8o0vIs&ehbc=2E312F&noprof=1"
      width="600" height="600"></iframe>
  </div>
  <div class="brewlist">
    <div class="brewery-for">
      @for (brewery of breweries; track brewery) {
      <a [routerLink]="['/breweries/', brewery.breweryId]">
        <div class="brewery">
          <img class="logo" src="{{ brewery.breweryMainImg }}" alt="" />
          <h2 class="center">{{ brewery.breweryName }}</h2>
        </div>
      </a>
      }
    </div>


  </div>

</div>

@if(!loggedIn) {
<div class="addbrewery"
  [routerLink]="['/breweries/create']">
  <button class="add-brewery" > Add Brewery </button>

</div>
}

<div v-else class="breweries">

  <div class="container">
    <div v-show="showList">
    </div>
  </div>
</div>