<div id="register" class="text-center">
    <form v-on:submit.prevent="register">
      <h1>Create Account</h1>

      <!-- TODO: Change this to @If syntax...

      <div role="alert" v-if="registrationErrors">
        {{ registrationErrorMsg }}
      </div> -->

      <div class="form-input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="user.username" required autofocus />
      </div>
      <div class="form-input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="user.password" required />
      </div>
      <div class="form-input-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" v-model="user.confirmPassword" required />
      </div>
      <div class="form-input-group">
        <label for="isBrewer">Brewer:</label>
        <input type="checkbox" id="brewer-check" v-model="user.brewer" />
      </div>
      <button type="submit">Create Account</button>
      <a [routerLink]="['/login']">Already have an account? Log in here.</a>
    </form>
  </div>