.BreweryDetailsMain {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    height: auto;
    width: 99%;
    z-index: 10;
  }
  
  label {
    color: #CA801B;
  }
  
  .BreweryImage {
    max-height: 70vh;
    width: auto;
    margin: 2vw;
  }
  
  .effect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .brewery-container {
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
  }
  
  .container {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  img#banner {
    width: 100%;
    height: auto;
  }
  
  .BreweryDetails {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bottom-details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .day {
    font-weight: bold;
  }
  
  .BreweryImage {
  
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30vw;
    position: relative;
    padding-right: 8vw;
    border-right: 1px solid #CA801B;
    z-index: 1;
  }
  
  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
  
  .hours-label {
    width: 100%;
    justify-content: start;
    align-items: start;
  }
  
  #two {
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 15;
    width: 100%;
    font-size: 22px;
  
  }
  
  h1 {
    margin-bottom: 2.5vw;
    font-size: 3vw;
    text-shadow: black 3px 3px 4px;
    z-index: 1;
  }
  
  
  .details-left {
    width: 80%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  
  .hours {
    display: flex;
  
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
  }
  
  .hours-label {
    margin-left: 13px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 22px;
  
  }
  
  .contact-label {
    margin-bottom: 3vh;
  }
  
  .contact-info {
    margin-bottom: 2vh;
  }
  
  .history {
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  th {
    text-align: left;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 15px;
  }
  
  .container {
    width: 100%;
  }
  
  .beer {
    height: auto;
  }
  
  .btn-edit-hours {
    width: 300px;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .beer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    width: 25vw;
    height: 5vw;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #CA801B;
    background-color: rgba(0, 0, 0, 0.75);
    color: black;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 1);
    transition: .2s;
    min-width: 25vw;
  }
  
  .beer-name {
    font-size: 1.25vw;
  translate: -10px;
  }
  
  .beer:hover {
    border-color: whitesmoke;
    background-color: rgba(0,0,0,1);
  }