    <div class="container">
      <img id="taps" src="./assets/taps.jpg" alt="">
      <div class="centered">
        <h1 id="FindYour">Find Your New Favorite Brewery</h1>
        <input type="text" id="addressEntry" name="fname" placeholder="Enter an Address, City, or Zip" >
      </div>
    </div>

    <div class="pint2">
      <img id="taps" src="./assets/pint.png" alt="">
    </div>
<div class="line2">
    <hr id="hr2A" class="hr2A">
    <hr id="hr2B" class="hr2B">
  </div>

    <h2 id="LatestReviews">Review Flight</h2>
    <div id="BeerReviews" class="BeerReviews">
      <app-beer-details-card />
      <app-beer-details-card />
      <app-beer-details-card />
    </div>

    <div class="pint2">
      <img id="taps" src="./assets/pint.png" alt="">
    </div>
<div class="line2">
    <hr id="hr2A" class="hr2A">
    <hr id="hr2B" class="hr2B">
  </div>
    
    <h2 id="LatestReviews">Featured Brewery</h2>
    <div id="featuredBrewery" class="featuredBrewery">
      
      <app-brewery-details-card/>
      
    </div>


      <div class="pint3">
        <img id="taps" src="./assets/pint.png" alt="">
      </div>

    <hr id="hr2A" class="hr2A">
    <hr id="hr2B" class="hr2B">

    <div id="blackout" class="blackout">
    </div>

