  <a id="logo" [routerLink]="['/']">
    <img src="./assets/HopSpotter.png"
    id="logo"
    alt="Logo Image">
  </a>
  <header>
    <div  class="topnav">
      <a [routerLink]="['/']">&nbsp;Home</a>&nbsp;|&nbsp;
      <a [routerLink]="['/breweries']">Brewery Map</a>&nbsp;|&nbsp;
      <a [routerLink]="['/breweries/0/beers']">Beers</a>&nbsp;
    </div>

    <div  class="topnav">
      <a [routerLink]="['/login']">Login&nbsp;|&nbsp;</a>
      <a [routerLink]="['/register']">Register&nbsp;|&nbsp;</a>
      <a [routerLink]="['/logout']">Logout&nbsp;</a>
    </div>
  </header>
  <section class="content">
    <router-outlet />
  </section>

  <footer>
    <div id="nav">
      <a [routerLink]="['/']">Home</a>&nbsp;|&nbsp;
      <a [routerLink]="['/breweries']">Brewery Map</a>&nbsp;|&nbsp;
      <a [routerLink]="['/breweries/0/beers']">Beers</a>&nbsp;
    </div>
    <div>
    <p class="aboutus">
      Tech Elevator Sep 2023 CLE24 Java
      <br> 
      tjmoore + joshschaeffer + ianmcgreal + justinfalasca
      <br>
      Copyright 2023 
    </p>
  </div>
  </footer>

