.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
  }
    .content-centered {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  
    .beer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
      margin-bottom: 10vh;
      width: 55%;
      padding: 40px;
     
    }
  
    .beer-details {
      display: flex;
      justify-content: space-between;
      height: 100%;
      
    }
  
    .detail {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .beerImage {
      height: 50vh;
      padding-right: 8vw;
      border-right: 1px solid #CA801B;
    }
  
  .inline {
    display: flex;
  }
  
  label {
    font-size: 22px;
    color: #CA801B;
  }
  
  .stats {
    margin-top: 10vh;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
    .description {
      display: flex;
      flex-direction: column;
      text-wrap: wrap;
      margin-right: 5vw;
      padding-left: 30px;
      
    }
  
      .container {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  img#banner {
    width: 100%;
    height: auto;
  }
  
  .review-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .back-to-brewery {
    width: 300px;
  }