<div class="container">
  <img id="banner" src="../../assets/brews.jpg" alt="">
  <div class="centered">
    <h1 id="FindYour">{{ beer?.beerName }}</h1>
  </div>
</div>
<div class="all">
<div class="content-centered">
<div class="beer-content">
  <img class="beerImage" src="{{ this.beer?.imgUrl }}" alt="">
<!-- </div> -->
<!-- <div class='beer-details'>
<div class="beerImage">
  <img class='beer-img' :src=beer.beer_img alt="">
</div> -->
<div class='beer-details'>

  <div class="description">
    <label class='label'>Description:</label>
    <div class='detail'>{{ beer?.beerDescription }}</div>
  
  <div class="stats">
    <div class="abv inline">
      <label class='label'>ABV:&nbsp;</label>
      <div class='detail'>{{ beer?.abv }}%</div>
    </div>

    <div class="type inline">
      <label class='label'> Type:&nbsp;</label>
      <div class='detail'>{{ beer?.type }}</div>
    </div>
  </div>
</div>
</div>
  </div>
</div>

  <div class='review-list'>
    <app-review-list />
  </div>
  


  <div>
    <button class='reviews' [routerLink]="['/breweries', beer?.breweryId, 'beers', beer?.beerId, 'review' ]">Add a Review</button>
  </div>
  
  <div class='buttons'>
    @if (loggedIn) {
    <!-- <div class="actions"
      v-show='JSON.stringify(this.$store.state.user) !== "{}" && this.$store.state.user.authorities[0].name == "ROLE_ADMIN" || this.$store.state.user.brewer == true'> -->
      <button class="btn-edit">Edit</button>
      <button class="btn-delete" >Delete</button>
    <!-- </div> -->
    }
    <div class='return'>
      <button class='back-to-brewery' [routerLink]="['/breweries', beer?.breweryId]"
        >More
        From This Brewery</button>
    </div>
  </div>
</div>